/.project
/**/.project
/.classpath
/**/.classpath
/.settings/
/**/.settings/
/.settings/**
/**/.settings/**
/**/target/
/**/target/**
/./idea/
/**/.idea/
/**/.idea/**
*.iml
/./vertx/
/**/.vertx/
/**/.vertx/**
/**/generated
/**/generated/**